.block{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    font-family: "Varela Round", sans-serif;
}
.block h1{
    font-family: "Poppins", Sans-serif, sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    box-sizing: border-box;
    margin-top: 90px;
    margin-bottom: 0;

}
.blockFlex{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}
span.text{
    font-family: 'Varela Round',sans-serif;
    display: block;
    text-transform: none;
    margin-bottom: 60px;
    font-weight: bold;
}

@media screen and  (max-width : 800px) {
    .block h1{
        font-size: 2rem;
    }

}