.blockSmall{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}

.btnBlock2Div{
    width: 100%;
    margin: 0 auto 40px auto;
    text-align: center;
}
.btnBlock2{
    outline: none;
    font-family: "Montserrat", Sans-serif, sans-serif;
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: rgba(255,255,255,0);
    border-radius: 50px;
    padding: 15px 30px;
    transition: all .3s;
    box-shadow: none;

}
.btnBlock2:hover{
    outline: none;
    color: #fff;
    background-color: #4064d7;
    border-color: #4064d7;
    box-shadow: none;
}
.h1Block2{
    font-size: 2.2em;
    text-transform: uppercase;
    font-family: "Archivo Black", Sans-serif, sans-serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 16px;
    color: #ffffff;
    text-align: center;

}
.spanBlock2{
    font-family: 'Varela Round',sans-serif;
    text-transform: none;
    line-height: 1.85714285714286;
    font-size: 14px;
    color: #ffffff;
    text-align: center;

}
.block2Items{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
}
@media screen and  (max-width : 1000px) {

    .h1Block2{
        font-size: 18px;
    }

}




