.block{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    height: 43px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 30px;
    -webkit-align-items: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: .02em;

}
.item_phone{
    margin-right: 20px;
}
 a{
    text-decoration: none;

    color: #000000;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
}
.item_phone img{
    width: 11px;
    height: 12px;
}
.item_mail img{
    width: 12px;
    height: 8px;
}
.item_mail a{
    text-transform: none;
}
@media screen and  (max-width : 400px) {
    .block{
        font-size: 12px;
    }


}