.block{
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;
    padding-left:30px;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 1px;
    align-items: center;
}
.blockGrey{
    width: 100%;
    background-color:#F9FAFD;
}
.blockWidth{
    width: 100%;
    margin-bottom: 80px;
}
.item_text{
    box-sizing: border-box;
    width: 580px;
}

.item_img{
    box-sizing: border-box;
    width: 580px;
    padding: 45px;

}
.item_img img{
    max-width: 100%;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
}
span{
    text-transform: uppercase;
    font-size: 15px;
}
.info{
    display: block;
    font-size: 15px;
    text-transform: none;
    margin-top: 30px;
    line-height: 1.7;
}
.info a{
    color:#2355DA;
    font-weight: bolder;
    text-decoration: none;
    text-transform: none;

}
.info a:hover{
    color:#000000;
}
.btn{
    width: 280px;
    height: 38px;
    background-color: #0693E3;
    border-radius: 20px;
    color:#ffffff;

    margin-top: 80px;
    text-transform: capitalize;
    border: none;
    font-size: 18px;
}
.btn:hover{
    background-color: #3A3A3A;
}
.btn:focus{
    outline: none;
}


@media screen and  (max-width : 1180px) {
    .item_text{
        width: 500px;
        font-size: 15px;
    }
    .item_img{
        width: 500px;
    }

}
@media screen and  (max-width : 600px) {
    .item_text{
        width: 100%;
        font-size: 10px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .item_img{
        width: 300px;
    }

}
@media screen and  (max-width : 1000px) {

    .item_img{
        -webkit-order: 1;
        order: -1;
    }
    .block{
        text-align: center;
    }
}