.block{
    width: 100%;
    max-width: 1300px;
    margin: 40px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.items{
    width: 130px;
    text-align: center;
    margin: 0 15px;
    margin-bottom: 10px;
}
.icon{
    width: 40px;
    height:40px;
    float: left;
    background-image: url("../../../img/socIcon/spriteSicialIcons.png");
}
.facebook{
    background-position:0 0;
}
.twitter{
    background-position: -40px 0;
}
.instagram{
    background-position:-80px 0;
}
.linkedin{
    background-position:-120px 0;
}
.clutch{
    background-position:-160px 0;
}
.upwork{
    background-position:-200px 0;
}

.title{
    font-family: 'Varela Round',sans-serif;
    float: left;
    text-transform: capitalize;
    line-height: 2.2;
    margin-left: 12px;
}