.App {
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

header{
  width: 100%;
  height: 43px;
  background-color: #F9FAFD;
}
.nav_navigation{
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
  height: 100px;
}
.content{
  width: 100%;
}
.footer{
  width: 100%;
  background-color:#F9FAFD;

}