@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:  url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src:  url("fonts/poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src:  url("fonts/varelaround/VarelaRound-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src:  url("fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}